

body  {
        font-family: Montserrat ;
      }

      ul div {margin-top: -8px;
              padding: 20px;}

      ul div:hover {
        background-color: #01a6c2;
      }


/*     Carousel  */

      .carousel-indicators button {
  height: 20px !important;
  width: 20px !important;
  border-radius: 50%;
  margin: 10px;
  margin-bottom: -50px;
  margin-top: 100px;
  background-color: #333333;
  opacity: 0.5;
  border: 1px solid white;
}
  

  .carousel-indicators .active { 
       background-color: #01c8eb;
       color: #01c8eb;
       border: 1px solid #01c8eb;
}





/*     responsividade alterações   */

@media (max-width:  575.98px) {
    .img-pequena{
        height: 200px;
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .img-pequena{
        height: 200px;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  ul div {
          height: 50px;
          width: 100%;
          margin: 25px;
          padding: 50px;}

.img-pequena {
    height: 300px;
    width: 70%;
    justify-content: center;
    margin-bottom: 10px;
}


.texto-principal {
  
}

ul div li img {
  margin-top: -20px;
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

@media (min-width: 1200px) {
  
}



/*       header     */

header {background-image: url(header.jpg);  background-repeat: no-repeat;}

.div-header {background-image: url(imagens/fundo.svg);}

.icon-menu {color: white;background-color: white; border: 1px solid white; border-radius: 10%;}










