




.texto {color: black	;
		background: grey;
		width: 	900px;}

.letra {color: blue;
		width: 	900px;
		background: greenyellow;
	    }


.paragrafo {background: white;
			position: center;
			width: 	900px;
			}



